<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Package List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>ID</th>
          <th>Owner</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pack of packages | async">
          <td>{{pack.name}}</td>
          <td>{{pack.id}}</td>
          <td>{{pack.client.firstName + ' ' + pack.client.lastName}}</td>
          <td><button (click)="deletePackage(pack.id)" class="btn btn-danger">Delete</button>
              <button (click)="updatePackage(pack.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
              <button (click)="packageDetails(pack.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

